body
{
    font-family: YekanBakh;
}
@font-face {
    font-family:YekanBakh ;
    src: url(../font/YekanBakh-Heavy.630c4fa4.woff)format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family:YekanBakh ;
    src: url(../font/YekanBakh-Medium.f7360956.woff)format('woff');
    font-weight: 500;
    font-style: normal;
}
.w-inherit
{
    width: inherit;
}